#body {
  background-color: #9bcdd2;
  padding: 0;
  margin: 0;
}

.heading-box {
  text-align: center;
  height: 20vh;
  width: 80%;
  background-color: #001c30;
  position: relative;
  left: 130px;
  border-radius: 40px;
  border: 0.2px solid black;
  margin-top: 20px;
}

.title {
  color: white;
  padding-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.content-container {
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.initial-content {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: all 1s;
}

.content-items {
  background-color: #d3d3d3;
  border-radius: 20px;
  padding: 20px;
  height: fit-content; /* Use fit-content to adjust height based on content */
  margin-bottom: 10px;
  overflow: hidden;
}

.que {
  color: white;
  padding: 10px;
  margin-bottom: 0;

  background-color: #001c30;
  border: 1px solid white;
  border-radius: 20px;
  transition: border-radius 2s;
}

.h3-active {
  border-radius: 20px 20px 0 0;
}

.que {
  position: relative;
}

.btn {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 10px;
  background-color: transparent;
  color: white;
  border: 0;
  transition: all 1s;
}

.ans {
  width: auto;
  height: 200px;
  color: white;
  border: 1px solid white;
  border-radius: 0 0 20px 20px;
  background-color: #001c30;
  padding: 10px;
  margin-top: 0;
  max-height: 200px;
  transition: all 1s;
  overflow: hidden;
}

.active {
  opacity: 0; /* Target opacity after the transition */
  font-size: 36px;
}
